@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
  max-width: 1000px;
  margin: auto;
  font-family: Calibri;
}

h1 {
  color: crimson;
  font-family: 'DynaPuff', cursive;
}

th, tr, td {
  border: 1px solid black;
}

td, th {
  padding: 5px;
}

th {
  background-color: LightGray;
}

ul {
  background-color: LightGray;
  width: 13%;
  border-radius: 10px;
}
